
body {
    font-family: 'rubik',  Arial;
    font-size: 18px;
}

/* banner  */

#banner-alto {
    height: 100px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-color: rgb(85, 172, 230);
    position: relative;
}
#logo {
    height: 50%;
    display: block;
    position: absolute;
    bottom: 10%;
}

/* titolo  */

.titolo h1 {
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 3px;
}
.titolo{
    margin-top: 10px;
    margin-bottom: 20px;
}
.titolo p{
    color: grey;
    margin: 0;
}
/* immagini articolo  */

.immagini-articolo p {
    font-size: 12px;
    margin: 0;
}

.immagini-articolo img {
    height: 600px;
}
a:link {
    color: rgb(39, 161, 231);
    font-weight: bold;
    text-decoration: none;
}

.testo-articolo-1 span, .testo-articolo-2 span{
    background-color: yellow;
}

/* lista  */

ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

/* stile tabella  */

.dati-lorem {
    text-align: left;
    border-collapse: collapse;
    margin-top: 30px;
}
thead {
    background-color: #3c64f4;
    color: white;
}
tbody tr:nth-child(odd) {background-color: #78d9ef;}
td{
    width: 33%;
}

/* stile suggerimenti immagine */

.suggerimenti img {
    display: block;
    margin-bottom: 5px;
}
.contenitore-img {position: relative;}
.contenitore-img p {
    position: absolute;
    top: 0;
    left: 7px;
    color: white;
    font-weight: 800;
}
.suggerimenti > p {
    color: grey;
    font-weight: 800;
    margin-bottom: 5px;
}